@import "./variables.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid $grey;
  padding: 20px 80px;
  border-radius: 12px;
  background-color: $white;
  max-width: 400px;
  h2 {
    color: #000;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    input.success {
      border-color: $success;
    }
    input.error {
      border-color: $error;
    }
    .errorMessage {
      text-align: left;
      color: $error;
    }
  }
  input {
    margin: 20px 0 5px;
    border: none;
    border-bottom: 1px solid black;
  }
  button {
    background-color: $secondary-color;
    color: $white;
    font-size: 1.2rem;
    padding: 8px 16px;
    border-radius: 4px;
    &:hover {
      background-color: $primary-color;
      color: black;
    }
  }
}
